<ajax-response>
	<response type="object" id="formLetterUpdater"><person fullName="<%="#{@person.first_name} #{@person.last_name}"%>" title="<%=@person.title%>" firstName="<%=@person.first_name%>" lastName="<%=@person.last_name%>" streetAddress="<%=@person.street_address%>" city="<%=@person.city%>" state="<%=@person.state%>" zipcode="<%=@person.zip_code%>" occupation="<%=@person.occupation%>" phoneNumber="<%=@person.phone%>" mobileNumber="<%=@person.mobile%>" personNotes="<%=@person.notes%>"/> </response>
</ajax-response>