<div><image id="moonImg" src="<%="/images/weather/moon.png"%>"></image></div>
<br/>
<div>
   Moon phase is <span class="weatherDescr"><%= @weather.cc.moon.t%></span>
</div>
<div style="padding:12px"></div>