<?xml version="1.0" encoding="ISO-8859-1"?>

   <ajax-response>
      <response type="element" id="ccInfo">
         <span><%=@flash[:notice]%></span>
      </response>
      <response type="element" id="moonInfo">
         <span><%=@flash[:notice]%></span>
      </response>
      <response type="element" id="sunInfo">
         <span><%=@flash[:notice]%></span>
      </response>
   </ajax-response>


