<%= stylesheet_link_tag "rico", "openrico", "rico_header", "ricoTests", "openrico", :media =>'all' %>
<%= javascript_include_tag "prototype", "rico", "ricoStyles", "util"%>

<head>
<title>Rico</title>
</head>
